---
layout: default
title: 
description:
featured_image: /images/social.jpg
---

<section class="intro"> 
	<div class="portfolio">
	    <div class="content-wrap portfolio-wrap">
		    <div class="portfolio-intro" style="margin-bottom: 50px;">
				<span class="animate">
		        <p style="font-weight: 500; font-size:60px"> UX Design & Research | Human-AI Systems | Product Innovation </p>
				<p >Product-minded Human-Centred Design & Research Lead with experience translating user needs into product and innovation decisions, helping teams build trustworthy, human-centred AI-enabled systems. </p> 
					<!-- I design, prototype and evaluate technologies through participatory, design-led and mixed-methods research, helping teams build trustworthy, human-centred AI-enabled systems.</p> -->
		        </span>
		    </div>
	    </div> 
	</div>
</section> 
<section class="portfolio">
	<div class="content-wrap portfolio-wrap">
	
		{% for project in site.projects %}  <!--if I want it old first, I put reversed-->

		<div class="portfolio-item" style="margin-bottom: 40px;">
            <a class="portfolio-item__link" href="{{ project.url | relative_url }}">
				<div class="parent" style="margin-bottom: 10px;">
				   <div class="child portfolio-item__out_title"><p style="color: black"><strong>{{ project.title }}</strong>&nbsp;&nbsp;{{ project.company }}</p></div>
				   <!-- <div class="child"><h4 class="portfolio-item__out_timeline" style="color: black;"> &nbsp;{{ project.company }}</h4> </div> -->
				</div>
			</a>
			<a class="portfolio-item__link" href="{{ project.url | relative_url }}">
				
				<div class="portfolio-item__image">
					<img src="{{ project.featured_image | relative_url }}" alt="{{ project.title }}">
				</div>
				<div class="portfolio-item__content">
					<div class="portfolio-item__info">
						<h2 class="portfolio-item__title">{{ project.title }}</h2>
						<p class="portfolio-item__subtitle">{{ project.subtitle }}</p>
						<p class="portfolio-item__details">{{ project.timeline }}</p> 
						<p class="portfolio-item__details">{{ project.description }}</p>
					</div>
				</div>
			</a>
                <div class="parent" style="margin-top: 10px;">
				  	 		   {% assign items = project.whatisit  | split: "|" %}
                                {% for item in items %}
					                <div class="child" style="border:1px solid #8d8d8d; border-radius:15px; margin-top: 6px; padding:4px; ">
			                             <p class="portfolio-item__out_timeline" style="color: black;"> &nbsp;{{ item | strip }}&nbsp;</p> 
					                </div>
                            	{% endfor %}

				</div>
		</div>  

	{% endfor %}
	</div>

</section>