// - - - - - - - - - - - - - - - - - -

// Portfolio

// - - - - - - - - - - - - - - - - - -

.portfolio {
	padding: 0 $grid-spacing/2;
	// margin-top: 10px;
}


.portfolio-wrap {

	position: relative;
	margin: 0 auto;
	// padding: 0 30px;
	// margin-left: 270px;
	// margin-right: 270px;
	// max-width: 500px;

	@include mq(tabletp) {
		padding: 0;
		max-width: 70%;
	}

	@include mq(tabletl) {
		max-width: 70%;
	}

	@include mq(laptop) {
		max-width: 70%;
	}
	

}

.portfolio-item {
	position: relative;
	padding: $grid-spacing/2;
	float: left;
	width: 50%;
}

.portfolio-item__link {
	position: relative;
	display: block;

	@include mq(tabletl) {

		&:hover {

			.portfolio-item__content {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}


  .portfolio-item__image {
	width: 100%;
  }


.portfolio-item__content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: end; ///put center for center
	justify-content: center;
	background: rgba($overlay-background-color, $overlay-opacity);

	opacity: 0;
	visibility: hidden;
	@include transition(all 0.2s ease-in-out);
}

.portfolio-item__info {
	text-align: start; //put center for center
	margin-left: 20px;
	margin-bottom: 20px;
}

.portfolio-item__title {

	color: $overlay-text-color;
	font-size: $grid-item-title-small;
	font-weight: $grid-item-title-weight;
	letter-spacing: $grid-item-title-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-title-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-title-large;
	}
}

.portfolio-item__subtitle {
	margin-top: 5px;
	color: rgba($overlay-text-color, 0.7);
	font-size: $grid-item-subtitle-small;
	font-weight: $grid-item-subtitle-weight;
	letter-spacing: $grid-item-subtitle-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-subtitle-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-subtitle-large;
	}

}

.portfolio-item__details {
	margin-top: 5px;
	color: rgba($overlay-text-color, 0.7);
	font-size: $grid-item-subtitle-extra-small;
	font-weight: $grid-item-subtitle-weight;
	letter-spacing: $grid-item-subtitle-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-subtitle-small;
		
	}

	@include mq(laptop) {
		font-weight: $grid-item-subtitle-medium;
		
	}


}

.portfolio-item__out_title {
	margin-top: 10px;
	margin-bottom: 7px;
	opacity: 0.8;
	font-size: $grid-item-subtitle-small;
	font-weight: $grid-item-title-weight;
	letter-spacing: $grid-item-subtitle-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-subtitle-medium;
		line-height: 1.2;
	}

	@include mq(laptop) {
		font-size: $grid-item-subtitle-large;
		font-weight: 700px;
		line-height: 1.2;
	}


}

.portfolio-item__out_timeline {
	margin-top: 10px;
	margin-bottom: 5px;
	opacity: 0.6;
	font-size: $grid-item-subtitle-extra-small;
	font-weight: $grid-item-subtitle-weight;
	letter-spacing: $grid-item-subtitle-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-subtitle-small;
		line-height: 1.2;
	}

	@include mq(laptop) {
		font-size: $grid-item-subtitle-medium;
		line-height: 1.2;
	}


}

///for showing items in the same line
.parent {
	text-align: start;
  }
.child {
	display: inline-block;
	vertical-align: middle;
}
  
.page-title{
	padding-left:15px;
	padding-top: 15px; 
	margin-top: -80px; 
	margin-bottom: 60px;
	opacity: 0.9;

}