---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h3>{{ page.title }}</h3>
		<h5>{{ page.subtitle }}</h5>
		<h5>{{ page.timeline }}</h5>
		<!-- <h6>Duration: {{page.duration}}</h6>
		<h6>Role: {{page.role}}</h6>
		<h6>Team: {{page.team}}</h6>
		<h6>Methods: {{ page.methods }}</h6>
		<h6>Impact: {{ page.impact }}</h6> -->
		<p><strong>Duration:</strong> {{ page.duration }}</p>
		<p><strong>Role:</strong> {{ page.role }}</p>
		<p><strong>Team:</strong> {{ page.team }}</p>
		<p><strong>Methods:</strong> {{ page.methods }}</p>
		<p><strong>Impact:</strong> {{ page.impact }}</p>
	
	{{ page.content }}
    </div>
</section>